html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #ecece3;
  border-bottom: 3px solid #8CB240;
  height: auto;
}

#myTopnav {
  padding-right: 0px !important;
}

.topnav a {
  float: right;
  display: block;
  color: #8B4513;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lucida Grande' !important;
  font-weight: 600;
  padding-left: -14px !important;
  padding-bottom: 10px;
  border-bottom: 3px solid #ecece3;
}

.topnav a:hover {
  background-color: #dcdccb;
  color: #61300D;
  border-bottom: 3px solid #8CB240;
  padding-bottom: 10px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .fixH3 {
    width: auto;
    margin-left: 0 auto;
  }
  .fixNH {
    width: auto;
    float: center;
    margin-top: 0% !important;
    padding-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .fixH3 {
    width: auto;
    margin-left: 0 auto;
  }
  .fixNH {
    width: auto;
    float: center;
    margin-top: 0% !important;
    padding-top: 0px;
  }
}

a.icon {
  height: 75.3px;
}

.container {
  padding-top: 3%;
}

#forHomePage {
  background-color: #ecece3;
  margin-top: 0px;
  border-top: 2px solid #a02700;
  padding-bottom: 20%;
  margin-bottom: -5%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#forMorePage {
  background-color: #ecece3;
  padding-top: 3%;
  padding-bottom: 10%;
  border-top: 2px solid #8CB240;
  border-top: 2px solid #a02700;
  margin-bottom: -5%;
  padding-top: 10%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: relative;
}

#mainDiv {
  background-color: #c2c2a3;
  margin-top: 0%;
  text-align: center;
  border: 3px solid #8CB240;
  box-shadow: 4px -6px 24px #888888;
  top: auto;
  left: auto;
  margin: auto;
  height: 800px;
}

.img-size {
  height: 350px;
  width: 350px;
  margin: 11.5px;
  padding: 25px;
}

.gallery {
  height: 350px;
  width: 350px;
  margin: 11.5px;
  padding: 25px;
  margin-top: 25%;
  margin-bottom: 20%;
}

.instaimg {
  height: 350px;
  width: 350px;
  margin: 11.5px;
  padding: 25px;
}

.img-fluid {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border: 4px solid #8CB240;
  border-bottom: 15px solid #8CB240;
  box-shadow: 14px -10px 26px #aecc72;
  margin-top: 25%;
  margin-bottom: 20%;
}

#storeLoc {
  color: red !important;
  font-size: 50px;
  font-family: Helvetica;
  position: relative;
  top: -50px;
  margin: auto;
}

#locId {
  width: 50%;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 2%;
  border: 1px solid #c2c2a3;
}

#locId:hover {
  border: 1px solid #8CB240;
}

#storeTemp {
  color: #973232;
  font-size: 22px;
  font-weight: 600;
  font-family: Arial;
  position: relative;
  top: -50px;
  box-shadow: 2px 2px 28px red;
  margin: auto;
  width: 53%;
  margin-bottom: -9%;
}

#tempValId {
  color: #000066;
  background-color: #aeae92;
}

#instafeed {
  width: auto;
}

#storeWind {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: 'Times New Roman';
  margin-top: -3%;
}

#windDirVal {
  color: #7d0000;
  font-weight: 800;
}

#windVal {
  color: #7d0000;
  font-weight: 800;
}

#windValAll {
  color: #7d0000;
}

#humid {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman';
}

#sunId {
  color: #7d0000;
  font-weight: 800;
}

#sunId1 {
  color: #7d0000;
  font-weight: 800;
}

#sunSetRise {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman';
}

#dayLastUv {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman';
}

#dayUv {
  color: #7d0000;
  font-weight: 800;
}

#dayUv1 {
  color: #7d0000;
  font-weight: 800
}

#sunIdNew {
  color: #7d0000;
  font-weight: 800;
}

#sunIdNew1 {
  color: #7d0000;
  font-weight: 800;
}

.cloudS {
  color: #7d0000;
  font-weight: 800;
}

#maxMin {
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman';
}

#storeDes {
  color: #7d0000;
  font-size: 27px;
  letter-spacing: 2px;
  padding-top: 20px;
  font-weight: 900;
}

#bracketsDes {
  color: #973232;
  font-size: 22px;
  font-weight: 900;
}

#btn1 {
  color: #973232;
  background-color: #c2c2a3;
  padding: 10px;
  padding-right: 65px;
  margin-right: -25px;
  margin-left: -25px;
  font-family: Arial;
  font-weight: 700;
  margin-bottom: 10px;
  box-shadow: 2px 0px 28px red;
  border: 1px solid #c2c2a3;
}

;
#btn1:visited {
  color: brown;
  box-shadow: 2px 0px 28px red;
  border: 1px solid red;
}

#btn1:hover {
  color: black;
  background-color: #9B9B79;
  padding: 10px;
  padding-right: 65px;
  font-family: Arial;
  font-weight: 700;
  box-shadow: 2px 0px 28px red;
  margin-bottom: 10px;
  margin-right: -25px;
  margin-left: -25px;
  border: 1px solid red;
}

#btn1:active {
  background-color: #9B9B79;
  font-family: Arial;
  font-weight: 700;
  color: red;
  margin-left: 5px;
  padding: 10px;
  padding-right: 65px;
  margin-bottom: 10px;
  box-shadow: 2px 0px 28px red;
  margin-right: -25px;
  margin-left: -25px;
  border: 1px solid red;
}

#demo {
  color: brown;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: Helvetica;
  position: relative;
  left: -40px;
}

#date1 {
  color: #7d0000;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 4px;
  background-color: #6d8092;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 6px -5px 22px #6d8092;
  padding: 2% !important;
}

#date2 {
  color: #7d0000;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 4px;
  background-color: #6d8092;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 6px -5px 22px #6d8092;
  padding: 2% !important;
}

#date3 {
  color: black;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 4px;
  background-color: #6d8092;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 6px -5px 22px #6d8092;
  padding: 2% !important;
}

#dayId {
  color: red;
  font-family: Helvetica;
  font-size: 20px;
}

#stDay2 {
  background-color: #973232;
  font-size: 21px;
  font-family: "Roman Regular";
  font-weight: 900;
}

#icon {
  border: 10px solid blue;
  margin: 5%;
  width: 30px;
  height: 59px;
  position: absolute;
}

#iconIcon {
  width: 85px;
  height: 85px;
}

#yearId {
  font-weight: 700;
  color: black;
  position: relative;
  top: -42px;
  left: 75px;
  font-size: 22px;
  letter-spacing: 2px;
  margin: auto;
}

#openWImg {
  position: relative;
  margin-top: -10%;
  padding: 0 auto;
  float: left;
  margin-left: 4%;
}

.form-control {
  background-color: #c2c2a3;
  width: 50% !important;
  margin: 0 auto;
  margin-top: 12%;
  margin-bottom: 2%;
  color: red;
  font-weight: 500;
  font-size: 50px;
  font-family: "Helvetica";
  height: 144px;
  padding-top: -5%;
  border: 1px solid #8CB240;
  padding-bottom: 14.1%;
  padding-left: 5.29%;
}

.form-control:visited {
  border: 1px solid #485b21 !important;
}

.form-control:hover {
  border: 1px solid #6a8730;
  background-color: #aeae92;
}

.form-control:active {
  border: 1px solid #485b21 !important;
}

.form-control::-webkit-input-placeholder {
  color: red;
  opacity: 0.4;
}

.form-control::-moz-placeholder {
  color: red;
  opacity: 0.4;
}

.form-control::-ms-placeholder {
  color: red;
  opacity: 0.4;
}

.fixNav1 {
  border-radius: 0px;
  width: auto;
  height: auto;
}

.fixH3 {
  font-size: 50px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 0px;
  width: 100%;
  height: 0 auto;
  color: #a02700;
  font-family: Showcard Gothic;
}

.fixNH {
  background-color: #E2E2D4;
  color: #452209;
  padding-left: -25px !important;
  margin-top: 0px;
}

.fixThisC {
  background-color: #ecece3;
  margin: auto;
  padding: auto;
}

#HeadImg {
  width: 100%
}

#imgHolder {
  border-left: 10px solid #8CB240;
}

.fixThisC1 {
  background-color: #ecece3;
  padding-left: auto;
  padding-bottom: -7px;
  margin-left: 89px;
}

#colMdImg {
  width: 0 auto;
  height: 0 auto;
  padding-left: 0px !important;
}

#colMdTitl {
  background-color: #E2E2D4;
  width: 0 auto;
  height: 127.31px;
  border-right: 10px solid #a02700;
  border-bottom: 1px solid #a02700;
}

#styleheadTitl {
  background-color: #ecece3;
}

.navBarChange {
  float: right;
  padding-right: -40px !important;
  margin-right: -15px;
  margin-bottom: -24px;
  padding-bottom: 11px !important;
}

.clr1 {
  font-weight: 800;
  font-size: 15px;
}

#styleHome {
  color: black;
  font-weight: 900;
}

#styleHome:hover {
  color: gray;
}

#styleExit {
  color: black;
  font-weight: 900;
}

.navBarChange #justThisW:hover {
  background-color: #dadac7;
}

.navBarChange li:hover {
  background-color: #e6e6da;
  padding-bottom: 11px !important;
  border-bottom: 3px solid #8CB240;
}

.footStyle {
  background-color: #d7d7c3;
  border-top: 5px solid #8CB240;
  height: 120px;
  margin-top: 5%;
  margin-bottom: -10%;
  width: auto;
  padding-top: -10%;
}

#footP {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: -5%;
  font-family: 'Raleway Italic';
  background-color: #d7d7c3
}

#footInnerP {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: -5%;
  font-family: 'Raleway Italic';
  background-color: #d7d7c3
}

#divF1 {
  border-bottom: 1px solid black;
  height: auto;
  width: 100%;
  margin: auto;
  top: auto;
  left: auto;
}

#arrowSymb {
  font-size: 15px;
}

#insideDiv1 {
  color: black;
  font-weight: 800;
}

#insideDiv3 {
  padding-bottom: 0px;
}

#insideDiv3 img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#insideDiv3Ent img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#divF2 {
  border-bottom: 1px solid black;
  height: auto;
  width: 100%;
  margin: auto;
}

#insideDiv11{
  color: black;
  font-weight: 800;
  padding-left: 20px;
}

#insideDiv1 {
  color: black;
  font-weight: 800;
  padding-left: 20px;
}

#insideDiv33 {
  padding-bottom: 0px;
}

#insideDiv33 img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#insideDiv33Ent {
  padding-bottom: 0px;
}

#insideDiv33Ent img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#divF3 {
  border-bottom: 1px solid black;
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
}

#insideDiv0 {
  color: black;
  font-weight: 800;
  padding-left: 20px;
}

#insideDiv02 {
  padding-bottom: 0px;
}

#insideDiv02 img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#insideDiv02Ent {
  padding-bottom: 0px;
}

#insideDiv02Ent img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#divF4 {
  border-bottom: 1px solid black;
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
  top: auto;
  left: auto;
}

#insideDivCET {
  color: black;
  font-weight: 800;
  padding-left: 20px;
  height: 42px;
  margin-bottom: 30px;
}

#insideDivCET2 {
  padding-bottom: 0px;
  height: 80px;
}

#insideDivCET2 img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#insideDivCET2Ent {
  padding-bottom: 0px;
}

#insideDivCET2Ent img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#divF5 {
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
  top: auto;
  left: auto;
}

#insideDivPET {
  color: black;
  font-weight: 800;
  padding-left: 20px;
  height: 42px;
  margin-top: 0px;
  margin-bottom: 30px;
}

#insideDivPET2 {
  padding-bottom: 0px;
  height: 80px;
}

#insideDivPET2 img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#insideDivPET2Ent {
  padding-bottom: 0px;
}

#insideDivPET2Ent img {
  width: 80px;
  height: auto;
  padding-bottom: 0px;
  margin-left: 30px;
}

#styleVal5 {
  color: red;
}

#wrapDivW {
  border: 3px solid #8CB240;
  height: 800px;
  background-color: #c2c2a3;
  margin: auto;
  box-shadow: 4px -6px 24px #888888;
}

#storeMap {
  width: 90%;
  height: 520px;
  border: 4px solid #8CB240;
  border-bottom: 0px;
  box-shadow: 25px 20px 35px #888888;
  margin: auto;
  margin-top: 10%;
}

#holdUVindex {
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
  margin-top: 5%;
  padding-top: 4%;
  width: 30%;
  margin: auto;
  margin-bottom: 3%;
  top: -500px;
}

#raceIt {
  color: #7d0000;
  font-weight: 600;
}

#mapForMedGrid {
  display: none;
}


#carousel-example-generic {
  width: auto;
  background-color: #ceceb5 !important;
  color: black !important;
  height: 510px;
  border: 4px solid #8CB240;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: auto;
  margin-left: 2.5%;
  margin-right: 0.5%;
  box-shadow: 18px -22px 52px #888888;
}

@media screen and (max-width: 250px) and (min-width: 150px) {
  #leftContSl2 {
    top: -36.9% !important;
  }
  #rightContSl2 {
    top: 76% !important;
  }
  #fourSquareId {
    width: auto;
    height: 670px !important;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 0px white;
  }
  .styleSlider2 {
    width: auto;
    height: 663px !important;
  }
  #partTxt1 {
    height: 650px !important;
    padding-top: 30px !important;
    font-size: 10px !important;
  }
  .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 19%;
    margin-right: 0 auto;
    padding: 0px;
    width: 25%;
    box-shadow: 0px 0px 0px white;
    margin-top: 17% !important;
  }
  .img-size {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .gallery {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .instaimg {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  #titleId1 {
    font-weight: 500;
    padding-bottom: 40px !important;
    font-size: 12px !important;
    display: center;
    margin-bottom: 35px !important;
  }
  .fixH3 {
    font-size: 17px !important;
    text-align: left;
  }
  #colMdTitl {
    padding-top: 1.5%;
    border-bottom: 5px solid #8CB240;
  }
  #imgHolder {
    border-left: 0px;
    border-bottom: 2px solid #8CB240;
  }
  #carousel-example-generic {
    width: auto;
    height: 860px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5%;
    box-shadow: 0px 0px 0px white;
  }
  .carousel-indicators {
    display: none;
  }
}


@media screen and (max-width: 320px) and (min-width: 250px) {
  .carousel-indicators {
    display: none;
  }
  #leftContSl2 {
    top: -36.9% !important;
  }
  #rightContSl2 {
    top: 76% !important;
  }
  #fourSquareId {
    width: auto;
    height: 670px !important;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 0px white;
  }
  .styleSlider2 {
    width: auto;
    height: 663px !important;
  }
  #partTxt1 {
    height: 650px !important;
    padding-top: 30px !important;
    font-size: 11px !important;
  }
  .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 19%;
    margin-right: 0 auto;
    padding: 0px;
    width: 50%;
    box-shadow: 0px 0px 0px white;
    margin-top: 17% !important;
  }
  .img-size {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .gallery {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .instaimg {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  #titleId1 {
    font-weight: 500;
    padding-bottom: 40px !important;
    font-size: 12px !important;
    display: center;
    margin-bottom: 30px !important;
  }
  .fixH3 {
    font-size: 25px !important;
    text-align: left;
  }
  #colMdTitl {
    padding-top: 1.5%;
    border-bottom: 5px solid #8CB240;
  }
  #imgHolder {
    border-left: 0px;
    border-bottom: 2px solid #8CB240;
  }
  #carousel-example-generic {
    width: auto;
    height: 860px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5%;
    margin: auto;
  }
}

@media screen and (max-width: 360px) and (min-width: 320px) {
  #carousel-example-generic {
    width: auto;
    height: 790px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5%;
    box-shadow: 0px 0px 0px white;
  }
  #leftContSl2 {
    top: -36.9% !important;
  }
  #rightContSl2 {
    top: 76% !important;
  }
  .styleSlider2 {
    width: auto;
    height: 592px !important;
  }
  #fourSquareId {
    width: auto;
    height: 600px !important;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 0px white;
  }
  .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 5.8%;
    margin-right: 0 auto;
    padding: 0px;
    width: 80%;
    box-shadow: 0px 0px 0px white;
    border-bottom: 4px solid #8CB240;
    margin-top: 20% !important;
  }
  .img-size {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .gallery {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  .instaimg {
    margin-bottom: 10px;
    padding: 0px;
    margin: auto;
  }
  #partTxt1 {
    height: 600px !important;
    padding-top: 30px !important;
  }
  #titleId1 {
    font-weight: 500;
    padding-bottom: 50px !important;
    font-size: 15px;
    display: center;
    margin-bottom: 30px !important;
  }
  .fixH3 {
    font-size: 25px !important;
    text-align: left;
  }
  #colMdTitl {
    padding-top: 1.5%;
    border-bottom: 5px solid #8CB240;
  }
  #imgHolder {
    border-left: 0px;
    border-bottom: 2px solid #8CB240;
  }
  #sq4StoreCat {
    font-size: 10px !important;
  }
  .carousel-indicators {
    display: none;
  }
}

;
@media screen and (max-width: 360px) and (min-width: 0px) {
  #partTxt {
    margin: 40px;
    height: 650px !important;
    text-align: left;
    line-height: 55%;
    display: inline-block;
    padding-top: 16px;
  }
  #dateId1 {
    height: 550px;
  }
  #footStyle {
    background-color: red;
    margin-top: 15%;
    padding-bottom: -15% !important;
  }
  #forHomePage {
    padding-bottom: 40%;
  }
  #aCarId1 {
    height: 100px !important;
    width: 18px !important;
  }
  #aCarId2 {
    height: 100px !important;
    width: 15px !important;
  }
  #divFourSQ {
    height: 660px !important;
    margin-bottom: 15% !important;
  }
  #secondCol {
    height: 660px !important;
  }
  .venueStorage {
    height: 450px !important;
  }
  #titleFSQ1 {
    margin-bottom: 120px !important;
    margin-right: 40px !important;
    line-height: 40px;
    font-size: 14px;
  }
  .carousel-indicators {
    top: 100%;
    margin-top: 30%;
  }
  #latLonForSq {
    font-size: 10px !important;
    word-break: break-all;
  }
  #latLonHrefEv {
    font-size: 10px !important;
  }
  #boldNumId {
    font-size: 10px !important;
  }
  #monEvF {
    margin-bottom: 7%;
    font-size: 10px !important;
  }
  #nameEvn {
    margin-bottom: 5% !important;
    font-size: 10px !important;
  }
  #evnLocF {
    font-size: 10px !important;
  }
  #venNmEvn {
    margin-bottom: 5%;
    font-size: 10px !important;
  }
  #sq4UrlTxt {
    font-size: 10px !important;
  }
  #adress4sq {
    font-size: 10px !important;
    margin-right: 4% !important;
  }
  #categ4sqId {
    font-size: 11px !important;
    font-weight: 700;
    word-break: break-all;
    margin: 3%;
  }
  #sq4StoreCat {
    font-size: 14px !important;
  }
  #evTitl1 {
    font-size: 15px !important;
  }
  #venEvnUrl {
    font-size: 10px !important;
  }
  #opnTmEvn {
    font-size: 10px !important;
  }
  #descIdEv {
    font-size: 10px !important;
    margin: 3%;
  }
  #img4Id1 {
    margin-top: -5% !important;
    float: left;
  }
  #img4Id2 {
    margin-top: 3% !important;
  }
  #img4Id4 {
    margin-top: 15%;
  }
  #descPrtId {
    font-size: 10px !important;
  }
  #wrapDivW {
    height: 1300px;
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 430px) and (min-width: 360px) {
  #carousel-example-generic {
    width: auto;
    height: 700px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5%;
    margin: auto;
  }
  #partTxt {
    margin: 40px;
    height: 610px;
    text-align: left;
    line-height: 85%;
    display: inline-block;
    padding-top: 13px;
  }
  #titleId1 {
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 12px;
  }
  #fourSquareId {
    width: auto;
    height: 550px !important;
    margin-right: 0%;
  }
  .styleSlider2 {
    height: 542px !important;
  }
  #leftContSl2 {
    top: -36.9% !important;
  }
  #rightContSl2 {
    top: 76% !important;
  }
  .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 6%;
    margin-right: 12%;
    margin-right: 0 auto;
    padding: 0px;
    width: 90%;
    box-shadow: 0px 0px 0px white;
    margin-top: 25% !important;
  }
  .img-size {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .gallery {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .instaimg {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .fixNH {
    width: auto;
    margin-left: 0%;
  }
  .fixH3 {
    text-align: left;
    font-size: 35px;
  }
  #colMdTitl {
    border-left: 5px solid #8CB240;
    padding-top: 1.5%;
    border-right: 20px solid #8CB240;
  }
  #colMdImg {
    border-right: 20px solid #8CB240;
    padding-right: 0px !important;
    border-left: 5px solid #8CB240 !important;
  }
  #imgHolder {
    border-left: 0px;
  }
  #divFourSQ {
    margin-bottom: 15% !important;
    height: 610px !important;
  }
  #secondCol {
    height: 610px !important;
  }
  #img4Id1 {
    margin-top: 30% !important;
    float: left;
  }
  #img4Id2 {
    margin-top: 3% !important;
  }
  #img4Id4 {
    margin-top: 15%;
  }
  .carousel-indicators {
    top: 100%;
    margin-top: 20%;
  }
  #sq4UrlTxt {
    font-size: 11px !important;
  }
  #titleFSQ1 {
    font-size: 18px !important;
  }
  #sq4StoreCat {
    word-break: break-all !important;
  }
  .carousel-indicators {
    display: none;
  }
  #wrapDivW {
    height: 1100px;
  }
}

@media screen and (max-width: 560px) and (min-width: 430px) {
  #carousel-example-generic {
    width: auto;
    height: 640px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5%;
  }
  #partTxt {
    margin: 15px;
    height: 610px;
    text-align: justify;
    line-height: 85%;
    display: inline-block;
    padding-top: 13px;
  }
  #titleId1 {
    font-weight: 500;
    padding-bottom: 20px;
  }
  #fourSquareId {
    width: auto;
    height: 550px !important;
    margin-right: 0%;
  }
  .styleSlider2 {
    height: 542px !important;
  }
  #leftContSl2 {
    top: -36.9% !important;
  }
  #rightContSl2 {
    top: 76% !important;
  }
  .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 5.8%;
    margin-right: 0 auto;
    padding: 0px;
    width: 90%;
    margin-top: 25% !important;
  }
  .img-size {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .gallery {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .instaimg {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  #titleId1 {
    height: auto;
    font-size: 12px;
  }
  .carousel-inner {
    height: 560px;
    margin-right: 0px;
  }
  .fixNH {
    width: auto;
    margin-left: 0%;
  }
  .fixH3 {
    text-align: left;
    font-size: 40px;
  }
  #colMdTitl {
    border-left: 10px solid #8CB240;
    padding-top: 1.5%;
    border-right: 25px solid #8CB240;
  }
  #colMdImg {
    border-right: 25px solid #8CB240;
    padding-right: 0px !important;
  }
  #divFourSQ {
    margin-bottom: 15% !important;
    height: 590px !important;
  }
  #secondCol {
    height: 590px !important;
  }
  #img4Id1 {
    margin-top: -30% !important;
    float: left;
  }
  #img4Id2 {
    margin-top: 3% !important;
  }
  #img4Id4 {
    margin-top: 15%;
  }
  .carousel-indicators {
    top: 90%;
    margin-top: 20%;
  }
  #titleFSQ1 {
    font-size: 20px !important;
  }
  #sq4StoreCat {
    word-break: break-all !important;
  }
  #wrapDivW {
    height: 980px;
  }
  #citiesInfo {
    margin-top: 10%;
  }
  #btn1 {
    margin-top: 5%;
  }
  ;
}

@media screen and (max-width: 620px) and (min-width: 330px) {
  #insideDivPET {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDivCET {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv0 {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv11 {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv1 {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 12px;
  }
  #wrapDivW {
    height: 1200px;
    margin-bottom: 20%;
    font-size: 12px;
    margin-top: 25%;
  }
}

@media screen and (max-width: 990px) and (min-width: 620px) {
  #insideDivPET {
    margin-bottom: 60px;
  }
  #insideDivCET {
    margin-bottom: 60px;
  }
  #insideDiv0 {
    margin-bottom: 60px;
  }
  #insideDiv11 {
    margin-bottom: 55px;
  }
  #insideDiv1 {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 990px) and (min-width: 560px) {
  #carousel-example-generic {
    width: auto;
    height: 720px;
    margin: auto;
    margin-bottom: 5%;
  }
  .img-fluid {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 0 auto;
    padding: 0px;
    width: 100%;
    margin-top: 25% !important;
  }
  .img-size {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .gallery {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .instaimg {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  #fourSquareId {
    width: auto;
    height: auto;
    margin-right: 0px;
    margin-top: 5%;
  }
  #partTxt {
    margin: 40px;
    text-align: justify;
    line-height: 75%;
  }
  #titleId1 {
    height: auto;
    font-size: 15px;
  }
  .carousel-inner {
    height: 620px;
    margin-right: 0px;
  }
  .fixNH {
    width: auto;
    float: center;
  }
  .fixH3 {
    width: auto;
    margin-left: 0 auto;
    padding: auto;
  }
  .topnav a {
    padding: 14px 12px;
  }
  #colMdTitl {
    border-left: 10px solid #8CB240;
    border-right: 25px solid #8CB240;
    padding-top: 1.5%;
  }
  #colMdImg {
    border-right: 25px solid #8CB240;
    padding-right: 0px !important;
  }
  .styleItTop i {
    margin-right: 16% !important;
  }
  #img4Id1 {
    margin-top: 0% !important;
    float: left;
  }
  #img4Id2 {
    margin-top: 3% !important;
  }
  #img4Id4 {
    margin-top: 15%;
  }
  #divFourSQ {
    margin-bottom: 10%;
    height: 560px !important;
  }
  #secondCol {
    height: 560px !important;
  }
  .carousel-indicators {
    top: 70%;
    margin-top: 10%;
  }
  #wrapDivW {
    height: 970px;
  }
  #btn1 {
    margin-top: 5%;
  }
  ;
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  .img-fluid {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 35%;
    padding: 0px;
    margin-top: 25% !important;
  }
  .img-size {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .gallery {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  .instaimg {
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
  }
  #carousel-example-generic {
    width: auto;
    height: 470px;
    margin: auto;
  }
  #partTxt {
    margin: 40px;
    text-align: justify;
    line-height: 97%;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
  }
  #partTxt1 {
    font-size: 12px;
    padding-top: 15px;
  }
  #fourSquareId {
    width: auto;
    height: 470px !important;
    margin-right: 10px;
  }
  #leftContSl2 {
    top: -36% !important;
  }
  #rightContSl2 {
    top: 56.4% !important;
  }
  .styleSlider2 {
    height: 462px !important;
  }
  .carousel-inner {
    height: 420px;
    margin-right: 0px;
  }
  #titleId1 {
    height: auto;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .fixMd8 {
    margin-left: -15px;
  }
  .fixH3 {
    width: auto;
    margin-left: 0 auto;
  }
  .fixNH {
    width: auto;
    float: left;
    height: 104.88px;
    border-right: 10px solid #8CB240;
  }
  #colMdTitl {
    background-color: #ecece3;
    border-right: 0px;
    padding-left: 0 !important;
  }
  .styleItTop {
    margin-right: 13% !important;
  }
  #img4Id1 {
    margin-top: 3% !important;
  }
  #img4Id2 {
    margin-top: 3% !important;
  }
  #img4Id4 {
    margin-top: 15%;
  }
  #mainDiv {
    height: 900px;
  }
  #insideDivPET {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDivCET {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv0 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv11 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
  }
  #insideDiv1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
  }
  #wrapDivW {
    height: 900px;
    font-size: 12px;
  }
}

.item>a {
  color: #000000;
  text-decoration: none;
}

#titleId1 {
  font-weight: 900;
  text-align: center;
  margin: 20px;
  height: 45px;
  color: #4d1200;
  font-size: 16px;
  margin-bottom: 5%;
  display: inline-block;
}

#titleIcnId1 {
  font-weight: 900;
  text-align: center;
  height: 45px;
  color: #4d1200;
  font-size: 30px;
}

#titleIcnId2 {
  font-weight: 900;
  text-align: center;
  margin: 20px;
  height: 45px;
  color: #4d1200;
  font-size: 30px;
}

#titleId1:hover {
  color: #a02700;
}

#titleId1:active {
  text-decoration: none;
}

#dateId1 {
  color: #1B2F7A;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  width: 60px;
  margin-left: 10px;
  font-size: 13px;
}

#dateIdSl2 {
  color: #2D3d8C;
  font-weight: 900;
}

#cetId {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#redBtnDiv {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  border-radius: 50px;
  background-color: red;
  margin-top: 2%;
  margin: 0 auto;
}

.blink_me {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  border-radius: 50px;
  background-color: red;
  margin-top: 2%;
  margin: 0 auto;
}

#cetId:hover {
  color: #661800;
}

#cetId:active {
  color: red;
}

#cetTitlePrt {
  color: red;
}

#imgId1 {
  width: 350px;
  height: 250px;
  float: left;
  margin-left: 10px;
  border: 3px solid #8CB240;
  margin-right: 10px;
  border-bottom: 10px solid #8CB240;
  margin-bottom: 0px;
  margin-top: 20px;
}

#imgId2 {
  width: 350px;
  height: 250px;
  float: left;
  margin-left: 10px;
  border: 3px solid #8CB240;
  margin-right: 10px;
  border-bottom: 10px solid #8CB240;
  margin-bottom: 0px;
  margin-top: 20px;
}

#partTxt {
  text-align: justify;
  margin: 10px;
  line-height: 97%;
  font-weight: 500;
  color: #330c00;
  margin-top: 20px;
}

#partTxt1 {
  text-align: justify;
  margin: 10px;
  margin-top: 16px;
  height: 270px;
  line-height: auto;
  font-weight: 800;
  color: #330c00;
}

#aHrefId1 {
  color: #72380f;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 95%
}

#aHrefId1:hover {
  color: #a02700;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
}

#aCarId1,
#aCarId2 {
  background-color: #a29084;
  height: 65px;
  margin-top: 140px;
  border-radius: 0px;
  opacity: 0.4;
  width: 80px;
}

#aCarId1:hover,
#aCarId2:hover {
  opacity: 0.8;
}

#aCarId1:active,
#aCarId2:active {
  opacity: 1;
}

#rightContSl2,
#leftContSl2 {
  background-color: #a29084;
  height: 35px;
  margin-top: 166px;
  opacity: 0.1;
  width: 15%;
}

#rightContSl2 {
  top: 55.3%;
  left: 42.5%;
}

#leftContSl2 {
  left: 42.5%;
  top: -36.9%;
}

#leftContSl2:hover,
#rightContSl2:hover {
  opacity: 0.5;
}

#leftContSl2:active,
#rightContSl2:active {
  opacity: 0.7;
}

#olId1 li {
  background-color: #8CB240;
  opacity: 0.2;
}

#olId1 li:visited {
  opacity: 0.9;
}

#olId1 li:hover {
  background-color: #8CB240;
  opacity: 0.9;
}

#fourSquareId {
  border: 4px solid #8CB240;
  height: 458px;
  width: auto;
  box-shadow: 13px -16px 52px #888888;
}

#fixMd4 {
  display: flex;
  justify-content: center;
  width: 97%;
  margin-top: 15%;
}

#fixMd8 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -1%;
}

.vertical .carousel-inner {
  height: 100%;
  height: 542px !important;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0px;
}

.carousel.vertical .next {
  top: 375px;
}

.carousel.vertical .prev {
  top: -375px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0px;
}

.carousel.vertical .active.left {
  top: -375px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
  left: 0;
}

/*//////////////////////////*/
.styleSlider2 {
  background-color: #ceceb5;
  height: 450px;
  margin: auto;
  padding: 1%;
  width: 100% !important;
}

#glyId {
  color: #973232;
  margin-left: -26px;
  font-size: 20px;
  top: 4.7px;
}

#glyId2 {
  color: #72380f;
  text-decoration: none;
  font-size: 17px;
  margin-left: -9px;
  margin-top: 6px;
}

#glyId2:hover {
  color: #a02700;
  text-decoration: none;
}

#glyId2:hover {
  box-shadow: 0px 21px 30px -3px black;
}

#glyId:active {
  color: red;
}

#glyId:visited {
  color: blue;
}

#glyId:hover {
  color: black;
}

.styleItTop i {
  font-size: 40px;
}

.styleItTop i {
  color: #ecece3;
  margin-right: 10%;
  opacity: 0.9;
  text-align: right;
  margin-bottom: 0%;
  margin-top: 0%;
}

.styleItTop>i:hover {
  color: #8CB240;
  opacity: 0.9;
  margin-right: 10%;
}

#toTopP {
  text-align: right !important;
  margin-bottom: 0px !important;
  padding-bottom: 3%;
  float: right;
}

/*Adding CSS for whatToSee.html*/

.container {
  padding-top: 3%;
}

#forToSeePage {
  background-color: #ecece3;
  border-top: 2px solid #a02700;
  padding-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  /*padding-top: 10%;*/
}

#firstRow1 {
  border: 1px solid gray;
}

.divFourSQ {
  display: flex;
  justify-content: center;
  background-color: #ceceb5;
  height: 600px;
  border: 2px solid #8CB240;
  width: 90%;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}


.divFourSQ1 {
  display: flex;
  justify-content: center;
  background: linear-gradient(-85deg, #ff4500 0%, rgb(140, 178, 64) 55%);
  opacity:0.8;
  height: 600px;
  border: 2px solid #8CB240;
  width: 90%;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}

.secondCol {
  display: flex;
  justify-content: center;
  border: 2px solid #8CB240;
  height: 600px;
  background-color: #ceceb5;
  width: 90%;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}

.secondCol1 {
  display: flex;
  justify-content: center;
  border: 2px solid #8CB240;
  height: 600px;
  background-color: #ceceb5;
  background: linear-gradient(-85deg, #FD9E0C 0%, rgb(140, 178, 64) 55%); 
  opacity:0.8;
  width: 90%;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}



.thirdCol {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #ceceb5;
  opacity:1;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}

.thirdCol1 {
  display: flex;
  justify-content: center;
  width: 90%;
  background: linear-gradient(-85deg, #337ab7 0%, rgb(140, 178, 64) 55%); 
  opacity:0.8;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}





.fourthCol {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #ceceb5;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}
.fourthCol1 {
  display: flex;
  justify-content: center;
  width: 90%;
  background: linear-gradient(-85deg, #551A8B 0%, rgb(140, 178, 64) 55%); 
  opacity:0.8;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}



.fifthCol {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #ceceb5;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}
.fifthCol1 {
  display: flex;
  justify-content: center;
  width: 90%;
  background: linear-gradient(-85deg, #7a5230 0%, rgb(140, 178, 64) 55%); 
  opacity:0.8;
  height: 600px;
  border: 2px solid #8CB240;
  padding: 0px;
  box-shadow: 4px -6px 24px #888888;
}

#stylePalet {
  width:36px;
  height:36px;
}

#myCarousel {
  height: 450px;
  width: 100%;
  padding-right: -5%;
}

#myCarousel2 {
  height: 450px;
  width: 100%;
  padding-right: -5%;
}

#myCarousel3 {
  height: 450px;
  width: 100%;
  padding-right: -5%;
}

#carFourSQ1 {
  width: 6%;
  color: #aecc72;
  height: 24%;
  margin-top: 25%;
  opacity: 0.1;
}

#carFourSQ1:hover {
  color: #8CB240;
  opacity: 0.6;
}

#carFourSQ1:active {
  color: #6e8c33;
  opacity: 0.8;
}

#carFourSQ1 span {
  width: 2%;
  text-align: center;
  font-size: 25px;
}

#carFourSQ2 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 24%;
  margin-top: 25%;
  opacity: 0.2;
}

#carFourSQ2:hover {
  color: #8CB240;
  opacity: 0.5;
}

#carFourSQ2:active {
  color: #6e8c33;
  opacity: 0.8;
}

#carFourSQ2 span {
  width: auto;
  text-align: center;
  font-size: 25px;
}

#titleFSQ1 {
  font-weight: 700;
  text-align: left;
  margin: 20px;
  height: 70px;
  color: black;
  font-family: 'Verdana';
  color: #4d1200;
}

#imgFSQ1 {
  background-color: #8CB240;
  border-bottom: 3px solid #9a2400;
}

#forIndicator4Sq {
  font-size: 50px;
  color: #8CB240;
  width: 6%;
  top: -15%;
  left: 49%;
  position: relative;
  font-family: 'Consolas';
}

#fsqTextDiv {
  background-color: #b9b9a2;
  width: 460px;
  height: 190px;
  margin-left: 19px;
}

#adress4sq {
  padding: 10px;
  font-weight: 600;
  font-family: 'Times New Roman';
  color: black;
  font-size: 16px;
  margin-top: 15%;
}

#adress4sq1 {
  padding: 10px;
  font-weight: 600;
  font-family: 'Times New Roman';
  color: black;
  font-size: 16px;
  margin-top: 15%;
}

#boldNumId {
  color: #585858;
}

.fa-address-card-o {
  background-color: #8CB240;
  font-size: 22px;
}

#phone4SqId {
  color: #8CB240;
  font-size: 22px;
}

#crossId {
  color: #8CB240;
  font-size: 22px;
}

.fa-map-signs {
  color: #8CB240;
  font-size: 22px;
}

#categ4sqId {
  margin-top: 15px;
  font-weight: 800;
  font-family: 'Sitka Heading';
  font-size: 22px;
  color: #4d1200;
}

#sq4StoreCat {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Constantia', 'Franclin Gothic';
}

#ifNoNumId {
  color: gray;
  color:black;
}

#style4ImgUrl {
  color: #8CB240;
  margin-left: 9px;
  margin-top: -41px;
  border: 2px solid #8CB240;
  border-radius: 100%;
}

#sq4UrlTxt {
  /*color: gray;*/
  color:black;
  font-weight: 700;
  margin-left: 46px;
  padding-bottom: 3px;
  position: relative;
  top: -35px;
  text-decoration-color: #8CB240;
}

#sq4UrlTxt:hover {
  text-decoration-color: #8CB240;
}

#sq4UrlTxt:active {
  color: #8CB240 !important;
  text-decoration-color: #8CB240;
}

#latLonForSq {
  text-decoration-color: #8CB240;
  color: #ff4500;
}

#latLonForSq:visited {
  text-decoration-color: #8CB240;
}

#latLonForSq:hover {
  text-decoration-color: #8CB240;
  color: #191926;
}

#latLonForSq:active {
  text-decoration-color: #8CB240;
  color: #8CB240;
}

#sq4StoreCat {
  font-weight: 500;
  font-size: 15px;
  font-family: 'Constantia', 'Franclin Gothic';
}

#ifNoNumId {
  color: gray;
}

#style4ImgUrl {
  color: #8CB240;
  margin-left: 9px;
  margin-top: -41px;
  border: 2px solid #8CB240;
  border-radius: 100%;
}

#sq4UrlTxt {
  color: gray;
  font-weight: 700;
  margin-left: 46px;
  padding-bottom: 3px;
  position: relative;
  top: -35px;
}

#sq4UrlTxt:hover {
  color: #6f6f61;
  font-weight: 700;
  text-decoration-color: #8CB240;
}

#evTitl1 {
  text-align: center;
  font-weight: 900;
  word-wrap: break-word;
  margin: auto;
  margin-top: 1% !important;
  width: 75%;
  font-family: 'Grotes Sans';
  font-size: 26px;
  color: #4d1200;
  background-color: #b9b9a2;
}

#venUrlId {
  color: #ff4500;
}

#venUrlId:visited {
  color: #8CB240;
}

#venUrlId:hover {
  color: #8CB240;
}

#venUrlId:active {
  color: #8CB240 !important;
}

#venEvnUrl {
  color: #323232 !important;
  text-decoration-color: #8CB240;
}

#venEvnUrl:visited {
  color: #8CB240;
}

#venEvnUrl:hover {
  font-weight: 500;
  color: #000000;
  text-decoration-color: #8CB240;
}

#venEvnUrl:active {
  color: #8CB240 !important;
}


.eventful-small {
  position: relative !important;
  width: 100px !important;
  font-size: 11px !important;
  line-height: 11px !important;
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

#img4Id {
  float: right;
  margin: 2%;
  margin-top: 8%;
  position: relative;
}

#img4Id1 {
  margin-top: 2%;
}

#img4Id2 {
  margin-top: 2%;
}

#img4Id4 {
  margin-top: 2%;
}

#firstRow1 {
  border: 0px solid white;
}

#styleHr1 {
  position: relative !important;
  width: 100% !important;
  height: 3px;
  background-color: #9a2400;
  margin-top: 6%;
}

#monEvF {
  color: black;
  font-weight: 500;
  text-align: left;
  margin-left: 12%;
  font-family: 'Arial';
  margin-right: 1.5%;
}

#monDayId {
  color: #ff4500;
  font-weight: 500;
}

#dNameEvn {
  color: black;
  text-align: left;
  margin-left: 12%;
  font-family: 'Helvetica';
}

#opnTmEvn {
  color: #ff4500;
  font-weight: 600;
  font-size: 12px;
}

#evnLocF {
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5;
}

#addrIcnEnv {
  margin-left: 12%;
  text-decoration-color: #8CB240;
  color: #ff4500;
}

#latLonHrefEv {
  color: #000000;
}

#latLonHrefEv:visited {
  color: #000000;
  text-decoration-color: #8CB240;
}

#latLonHrefEv:hover {
  color: #000000;
  text-decoration-color: #8CB240;
}

#latLonHrefEv:active {
  color: #8CB240;
  text-decoration-color: #8CB240;
}

.faIcn1 {
  color: #8CB240;
  font-size: 15px;
}

#linkEnvId {
  margin-left: 12%;
  color: black;
}

#linkEnvId:active {
  color: #8CB240 !important;
}

#locEvnIc {
  margin-left: 12%;
  font-family: 'Trebuchet MS';
  font-size: 13px;
}

#locImgEnv {
  background-color: #8CB240;
  border-radius: 90%
}

#dashIdEvn {
  color: #8CB240;
}

#carFourSQ1 {
  width: 6%;
  color: #aecc72;
  height: 24%;
  margin-top: 25%;
  opacity: 0.1;
}

#venNmEvn {
  color: #323232;
}

#venNmEvn:visited {
  color: #8CB240;
  text-decoration-color: #8CB240 !important;
}

#venNmEvn:hover {
  color: #000000;
  text-decoration-color: #8CB240 !important;
}

#venNmEvn:active {
  color: #8CB240;
  text-decoration-color: #8CB240 !important;
}

#carFourSQ11 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

#carFourSQ11:hover,
#carFourSQ22:hover {
  color: #ff4500;
  opacity: 0.6;
}

#carFourSQ11:active,
#carFourSQ22:active {
  opacity: 0.8;
  color: #cc3700;
}

#carFourSQ22 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}


#carFourSQ33 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

#carFourSQ33:hover,
#carFourSQ44:hover {
  color: #ff4500;
  opacity: 0.6;
}

#carFourSQ33:active,
#carFourSQ44:active {
  opacity: 0.8;
  color: #cc3700;
}

#carFourSQ44 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

/*similar for third carousel*/
#carFourSQ55 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

#carFourSQ55:hover,
#carFourSQ66:hover {
  color: #ff4500;
  opacity: 0.6;
}

#carFourSQ55:active,
#carFourSQ66:active {
  opacity: 0.8;
  color: #cc3700;
}

#carFourSQ66 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

/*similar for Fourth carousel <> prev/next*/
#carFourSQ77 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

#carFourSQ77:hover,
#carFourSQ88:hover {
  color: #ff4500;
  opacity: 0.6;
}

#carFourSQ77:active,
#carFourSQ88:active {
  opacity: 0.8;
  color: #cc3700;
}

#carFourSQ88 {
  width: 6%;
  color: #aecc72;
  text-align: center;
  height: 108px;
  margin-top: 30%;
  opacity: 0.2;
  color: #ffa27f;
}

#imgBlic1 {
  background-color: red;
  width: 40px;
  height: 40px;
  padding: 10px;
  float: right;
  margin-right: 5%;
  position: relative;
}

#descIdEv {
  font-size: 14px !important;
  margin: 3%;
  margin-left: 13%;
}

#icnPDesc {
  width: 20px;
  height: 20px;
  color: #8CB240;
  font-size: 30px;
  margin-left: -1%;
}

#descIdEv:visited {
  text-decoration-color: #8CB240 !important;
}

#descIdEv:hover {
  text-decoration-color: #8CB240 !important;
  color: #000000;
}

#descPrtId {
  color: #323232;
  text-decoration-color: #8CB240 !important;
}

#descPrtId:visited {
  color: #000000;
  text-decoration-color: #8CB240 !important;
}

#descPrtId:hover {
  color: #000000;
  text-decoration-color: #8CB240 !important;
}

#descPrtId:active {
  color: #8CB240;
  text-decoration-color: #8CB240 !important;
}

#showOnSm {
  display: none;
}

.newClassNow {
  color: red;
  background-color: #556472;
  box-shadow: 6px 10px 27px #556472;
}

#citiesInfo {
  background-color: #c2c2a3;
  border: 3px solid #8CB240;
  margin: auto;
  margin-top: 5%;
  box-shadow: 4px -6px 24px #888888;
  height: 200px;
  width: 100%;
}

.redLineC {
  color: red;
  background-color: red;
}

#countryFlag {
  text-align: center;
  display: center;
}

.flagIdImg {
  margin-top: -7%;
}

#shortInfo {
  color: #330c00;
  font-weight: 600;
  margin: 2%;
}

.showInfoHref {
  color: #330c00;
  text-decoration: none !important;
}

.showInfoHref:visited {
  text-decoration: none !important;
  text-decoration-color: #c2c2a3;
  text-decoration-style: dashed;
  color: #a02700;
}

.showInfoHref:hover {
  text-decoration: none !important;
  color: #a02700;
}

.showInfoHref:active {
  text-decoration: none !important;
  text-decoration-color: #c2c2a3;
  color: #a02700;
}

.styleFaCard {
  margin-top: 5px;
}

#mapid {
  height: 600px;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 4px solid #8CB240;
  box-shadow: 25px 20px 35px #888888;
}

#mapid3 {
  margin-bottom: 30%;
  border: 4px solid #8CB240;
  border-top: 0px;
  box-shadow: 25px 20px 35px #888888;
  height: 600px !important;
  border: 4px solid #8CB240;
  width: 90%
}

#mapid4 {
  margin-bottom: 30%;
  border: 4px solid #8CB240;
  border-top: 0px;
  box-shadow: 25px 20px 35px #888888;
  height: 600px !important;
  border: 4px solid #8CB240;
  width: 90%
}

#divFlx1 {
  background-color: red;
  width: 50px;
  height: 55px;
  margin: 2%;
}

#divFlx2 {
  background-color: yellow;
  width: 50px;
  height: 55px;
  margin: 2%;
}

#divFlx3 {
  background-color: green;
  width: 50px;
  height: 55px;
  margin: 2%;
}

#flexCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#flexCont #divFlx2 {
  order: -1;
}

#bldStl {
  width: 220px;
  height: 250px;
  margin-left: 50%;
  margin-top: 5%;
}

#wip1 {
  width: 15px;
  height: 15px;
}

#defImg1 {
  width: 64px;
  height: 67px;
  border-bottom: 3px solid #8CB240;
}

#defImg2 {
  width: 64px;
  height: 67px;
  border-bottom: 3px solid #8CB240;
}

#defImg3 {
  width: 64px;
  height: 67px;
  border-bottom: 3px solid #8CB240;
  background-color: #9b2400;
}

#bedFa {
  font-size: 25px;
  margin: 0 8px;
  padding-bottom:15px;
}

#shopFa {
  font-size: 25px;
  color: #551A8B;
  margin: 0 8px;
  padding-bottom:15px;
}

#shopFa:hover {
  color: #220a37;
}

#foodFa {
  font-size: 25px;
  color: #ff4500;
  margin: 0 8px;
  padding-bottom:15px;
}

#foodFa:hover {
  color: #cc3700;
}

#eventFa {
  color: #FD9E0C;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 15px;
  font-size: 25px;
}
#eventFa:hover {
  color:#f88507;
}

#sitesFa {
  color: #7a5230;
  margin-left: 8px;
  margin-right: 40px;
  padding-bottom: 15px;
  font-size: 26px;
}

#sitesFa:hover {
  color: #302013;
}

#flexIcn {
  display: flex;
  margin: 0 -5px;
  margin-left: 5%;
  margin-bottom:3%;
}

#imgDrop250 {
  border: 3px solid red;
  width: 300px;
  height: 300px;
}

#newsStajl1 {
  width: 30px;
  height: 25px;
  background-color: red;
}

.divEvnAll {
  background-color: #b9b9a2;
  padding: 2%;
  width: 50%;
  margin-left: 12.5%;
}

#picForEvent {
  margin-left: 70%;
  margin-top: -30%;
}


#contactId {
  font-family: 'Bernard MT';
  font-size: 24px;
  color:#a02700;
  position:absolute;
  top: 40%;
  left: 10%;
}

#paperId {
  background-color:gray;
}

.contLinkId {
  text-decoration:none;
  font-family: 'Bernard MT';
  color:#a02700;
}

.contLinkId:hover {
  color:#3e0f00;
}
.contImgSize {
  width:32px;
  height:32px;
}
#numbContSpan {
  font-family: 'Bodoni MT';
}